<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <span class="title"><i class="fas fa-cat"></i></span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
    </div>
  </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <strong><%= link_to "Create Kitten", new_kitten_path, class: 'button is-primary' %></strong>
        </div>
      </div>
    </div>
  </div>
</nav>